@model RepoViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>RepoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalValue)
        </dd>
        <dt class="col-sm-2">
            <p><b>Coins in this repo:</b></p>
        </dt>
        @foreach (var coin in Model.Coins)
        {   
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => coin.Name)
                <p>:</p>
                @Html.DisplayFor(modelItem => coin.MonetaryValue)
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
